/* CURRENT ISSUES */
	/* - when not inspecting in a general window, the alignment looks wonky as hell */
body {
	background-color: black;
	height: 100%;
	display: flex;
	flex-direction: column;
	/* align-content: center; */
	align-items: center;
	
}

/* /////////////////////////////////////////////////////////// */
.buffer {
	height: 50px;
	background-color: black;
}

.buffer__bot {
	height: 75px;
}

/* /////////////////////////////////////////////////////////// */
/* TEXT MESSAGE AREA COMPONENTS */
.phoneContainer {
	display: flex;
	/* justify-content: flex-start; */
	height: 85%;
	margin: 40px 20px 20px 20px;
	position: fixed;
	background-color: lightgray;
	overflow-y: scroll;
}

/* TO DO: EXTEND THIS CONTAINER TO THE BOTTOM */
.phoneMessages { /*Overall Phone Message Screen Backgroundt*/
	display: flex;
	align-content: flex-start;
	flex-direction: column;
	flex-wrap: nowrap;
	width: auto;
	padding: 10px;
	/* NOTE: Remember this z-index property for the notification messages!  */
	z-index: -1;

}

.messageContainer{ /*Container for All Individual Text Messages*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: auto;
	color: black;
	font-family: Helvetica Neue;
	padding-bottom: 15px;

}

.nameFriend {/*Text Message Sender Container Formatting*/
	display: flex;
	align-items: center;
	width: 300px;
	height: 50px;
	color: black;
	font-family: Helvetica Neue;
}

.namePlayer {/*Text Message Sender Container Formatting*/
	display: flex;
	justify-content: right;
	align-items: center;
	width: 300px;
	height: 50px;
	color: black;
	font-family: Helvetica Neue;
}

.iconFriend {/*Text Message Icon Formatting*/
	width: 30px;
	height: 30px;
	margin-right: 10px;
	border-radius: 50%;
}

.iconPlayer {/*Text Message Icon Formatting*/
	width: 30px;
	height: 30px;
	margin-left: 10px;
	border-radius: 50%;
}

.messageIncoming {/*Incoming Text Message Boxes Formatting*/
	background-color: #28282B;
	padding: 10px;
	margin: auto;
	width: 300px;
	border-radius: 20px;
	color: white;
	font-family: Helvetica Neue;

}

/* /////////////////////////////////////////////////////////// */
/* PLAYER INPUT FIELD FORMATTING */
.inputFieldContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	position: fixed;
	margin: auto;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding: 10px;
	background-color: black;

}

.inputText{
	color: white;
	margin-left: 20px;
	font-family: Helvetica Neue;
	align-items: center;
	justify-content: center;
}

.send__btn {
	width: 40px;
	height: 40px;
	/* margin-left: 10px; */
	margin-right: 15px;
	border-radius: 50%;
	border: none;
	color: white;
	background-color: #1F8CFF;
	cursor: pointer;

}

/* /////////////////////////////////////////////////////////// */
/* PERSONALIZED TEXT MESSAGE FORMATTING */
.me {
	background-color: #1F8CFF;
	text-align: right;
	color: white;
}

.becca {
	
}

.miranda {
	
}

/* /////////////////////////////////////////////////////////// */
/* TIMER STUFF */
.timer {
	font-family: Helvetica Neue;
	color: white;
	display: flex;
	background-color: black;
	position: fixed;
	top: 0;
	align-items: center;
	width: 100%;
	padding: 10px;
	margin-left: 20px;

}

.timer__part {
	font-size: 20px;
	/* font-weight: bold; */
}

.timer__btn {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	border-radius: 50%;
	border: none;
	color: white;
	background-color: purple;
	cursor: pointer;
}

.timer__btn--start {
	background-color: green;
}

.timer__btn--stop {
	background-color: red;
}

@media (max-width: 800px){
	.message {
		/*this is a comment*/
	}
}