.phoneContainer {
	display: flex;
	justify-content: center;
}

.phoneMessages { /*Overall Phone Message Screen Backgroundt*/
	background-color: lightgray;
	display: flex;
	justify-content: center;
	flex-direction: column;
	/* width: 500px; */
	padding: 10px;

}

.messageContainer{ /*Container for All Text Messages*/
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 500px;
	height: 125px;
	color: black;
	font-family: Helvetica Neue;

}

.nameFriend {/*Text Message Sender Container Formatting*/
	display: flex;
	align-items: center;
	/* padding-top: 0px; */
	/* margin-left: 20px; */
	width: 300px;
	height: 50px;
	color: black;
	font-family: Helvetica Neue;
}

.namePlayer {/*Text Message Sender Container Formatting*/
	display: flex;
	justify-content: right;
	align-items: center;
	/* padding-top: 0px; */
	margin-left: 20px;
	width: 300px;
	height: 50px;
	color: black;
	font-family: Helvetica Neue;
}

.iconFriend {/*Text Message Icon Formatting*/
	width: 30px;
	height: 30px;
	margin-right: 10px;
	border-radius: 50%;
}

.iconPlayer {/*Text Message Icon Formatting*/
	width: 30px;
	height: 30px;
	margin-left: 10px;
	border-radius: 50%;
}

.messageIncoming {/*Incoming Text Message Boxes Formatting*/
	background-color: #28282B;
	padding: 10px;
	margin-left: 20px;
	width: 300px;
	border-radius: 25px;
	color: white;
	font-family: Helvetica Neue;

}

.inputFieldContainer{
	display: flex;
	align-items: center;
	flex-direction: column;
	position: fixed;
	bottom: 0;
	width: 400px;
	height: 60px;
	padding: 10px;
	border-radius: 25px;
	background-color: black;

}

.inputText{
	color: white;
	margin-left: 20px;
	font-family: Helvetica Neue;
	align-items: center;
	justify-content: center;
}

.me {
	background-color: #1F8CFF;
	text-align: right;
	color: white;
}

.stacey {
	
}

.james {
	
}

@media (max-width: 800px){
	.message {
		/*this is a comment*/
	}
}